* {
  margin: 0;
  padding: 0;
}

/* Navigation Section */

.navbar {
  font-family: 'Barlow';
  font-weight: 200;
  text-transform: uppercase;
}

.twice-logo {
  height: 6rem;
  transition: ease .8s;
}

.nav-link-style {
  color: #FFF;
  padding: 7px;
}

.nav-link-style:hover {
  color: #F190B7;
  transition: ease .3s;
}

.twice-logo:hover {
  transform: rotateY(360deg);
  transition: ease .8s;
}

.twice-logo-hidden2 {
  visibility: hidden;
}

.first-nav {
  margin-right: 18px;
}

.video-twice {
  filter: brightness(70%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  height: auto;
  width: 100%;
}

.dropdown-item {
  color: #FFF !important;
  text-align: center !important;
  margin: 10px 0;
}

.dropdown-item:hover {
  background-color: rgb(18,18,18,.3) !important;
  color: #FBD6D2 !important;

}

/* Carrousel Content */
#albums {
  background-color: #F0F0F0;
  position: relative;
  margin-top: 45%;
  z-index: 1;
  padding: 2% 0;
}

.section-title {
  text-align: center;
  padding: 2%;
  font-family: 'Norican';
  font-size: 3rem;
  color: #F2789F;
}

.carousel {
  padding-bottom: 2%;
}

.carousel-item {
  padding: 3% 0;
}

/* Middle Text */
.mid-text-container {
  text-align: center;
  color: #FFF;
  font-family: 'Barlow';
  width: fit-content;
  background-color: rgb(20,20,20,0.3);
  z-index: -1;
  padding: 0 50px;
  position: fixed;
  bottom: 10%;
}

.mid-text {
  padding: 10px 0;
  font-size: 3rem;
  font-weight: 200;
}

/* News Section */
#news {
  background-color: #FFF;
  height: auto;
  padding: 3% 25% 10%;
}

.badge {
  margin: 0 10px 0 5px;
}

.recent-news-text {
  font-family: 'Norican';
  color: #DB6B97;
  margin-left: 10px;
}

.list-group p {
  color: #889EAF;
  display: inline;
  font-family: 'Barlow';
}

.rounded-pill {
  background-color: #DB6B97;
}

.news-headline {
  margin: 20px 0;
  display: block;
}

.news-video {
  margin: auto;
  width: 100%;
  max-width: 80%;
  min-height: 480px;
}

.news-container {
  text-align: center;
}

/* About Twice */

#about {
  height: 900px;
  background-color: #FFF;
}

.ph img {
  width: 55%;
  position: absolute;
  z-index: 1;
}

.about-text-container {
  min-height: 78%;
  height: auto;
  position: relative;
  float: right;
  background-color: #F1A59C;
  width: 50%;
  text-align: center;
  z-index: 0;
  padding: 6% 10%;
  font-family: 'Barlow';
  color: #FFF;
}

.about-heading {
  font-size: 3rem;
}

.heading-line {
  text-align: center;
  margin: 15px auto;
  border: 1px solid;
}

.about-text {
  line-height: 1.5
}

.member-profile {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid #FFF;
  font-family: 'Barlow';
  color: #FFF;
  font-size: .9rem;
  margin-top: 1.5rem;
}

.member-profile:hover {
  background-color: #FFF;
  color: #F1A59C;
  border: 1px solid #B24E7A;
  transition: ease .3s;
}

/* Responsive Design */
@media (min-width: 992px) {.twice-logo-hidden {display: none;}}
@media (max-width: 991px) {
  .twice-logo {
    display: none;
  }

  .navbar, .navbar-expand-lg, .navbar-light {
    padding: 0 !important;
  }

  .twice-logo-hidden {
    transition: ease .8s;
  }

  .twice-logo-hidden:hover {
    transform: rotateY(360deg);
    transition: ease .8s;
  }

  .first-nav {
    margin: 0;
  }

  .nav-item {
    padding: 5px 0 0 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }

  .nav-link-style {
    color: #B24E7A;
  }

  .navbar-toggler {
    border: 3px solid !important;
    margin-right: 2%;
  }

  .dropdown-item {
    font-size: 1.5rem;
  }

  .video-twice {
    position: relative;
    display: block;
  }

  .container-fluid {
    position: relative;
    z-index: 2;
    padding: 1% 0;
    background: rgb(255,188,217,.5);
    background: linear-gradient(0deg, rgba(255,188,217,1) 0%, rgba(255,192,188,1) 100%);
  }

  .mid-text-container {
    position: relative;
    width: 100%;
    background-color: #F1A59C;
    display: block;
    margin: 0;
    padding: 3% 0;
  }

  .mid-text {
    font-size: 2rem;
    padding: 0;
    color: #FFF;
  }

  #albums {
    position: relative;
    margin-top: 0;
    display: block;
  }

  #news {
    padding: 3% 5%;
  }

  .ph img {
    margin: auto;
    position: relative;
    width: 100%;
    margin: 0;
  }

  .ph br {
    display: none;
  }

  .about-text-container {
    width: 100%;
    padding: 7% 10%;
    min-height: 0;
    text-align: center;
  }

  .about-text p {
    font-size: 2rem;
    line-height: 1.7;
    text-align: justify;
  }

  .about-heading {
    font-size: 4rem;
  }

  .member-profile {
    font-size: 2rem;
    margin: 5% 0;
  }
}
